<a href="https://colab.research.google.com/github/sakshiswagh/Python_Tutorial/blob/main/L1-introduction%20to%20Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


Q.1 print helloworld

In [2]:
print("helloworld")

helloworld

Q.2 describe local variable and global variable code

In [3]:
x = 10  # Global variable

def example():
    y = 5  # Local variable
    print("Local variable y:", y)

example()
print("Global variable x:", x)

Local variable y: 5
Global variable x: 10

Q3. Code to describe an Indentation Error

In [4]:
def example():
print("This will give an indentation error")  # Indentation is missing

IndentationError: expected an indented block after function definition on line 1 (<ipython-input-4-c52a73a4df93>, line 2)

Q4. Code for local and global variable with the same name:

In [1]:
x = 10  # Global variable

def example():
    x = 20  # Local variable with the same name
    print("Local variable x:", x)

example()
print("Global variable x:", x)

Local variable x: 20
Global variable x: 10

Q5. Separate codes for string, int, and float inputs

In [3]:
# String Input:
name = input("Enter your name: ")
print("String input:", name)

Enter your name: sakshi
String input: sakshi

In [4]:
# Integer Input:
age = int(input("Enter your age: "))
print("Integer input:", age)

Enter your age: 9
Integer input: 9

In [6]:
# Float Input:
salary = float(input("Enter your salary: "))
print("Float input:", salary)

Enter your salary: 89.00
Float input: 89.0